db.sqlite3
/go_server/static/js_go
/django_go/__pycache__
/go_server/__pycache__
/go_server/migrations/__pycache__
/go_server/phwang_modules/__pycache__
/go_server/phwang_modules/util_modules/__pycache__
/go_server/phwang_modules/port_modules/__pycache__
/go_server/phwang_modules/farbric_modules/__pycache__
/go_server/phwang_modules/go_modules/__pycache__
